<div class="header">
  <h2 class="brand highlight">
    {{link-to 'Meow Meow Beenz' 'application'}}
  </h2>
</div>
<div class="main">
  <div class="main-left">
    <div class="scrollable-pane">
      <div class="scrollable-content">
        <div class="user-list list-group">
          {{#each model as |user|}}
            {{#link-to "user" user.name class="user-list-item rainbow list-group-item"}}
              <div class="avatar">
                {{beenz-gravatar url=user.gravatar_url}}
              </div>
              <div class="info">
                <div class="name">{{user.name}}</div>
                <div class="beenz">{{beenz-kitties beenz=user.beenz}}</div>
              </div>
            {{/link-to}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="main-right">
    <div class="scrollable-pane">
      <div class="scrollable-content">
        <div class="container-fluid content">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flash-container">
  {{#each flashMessages.queue as |flash|}}
    <div class="flash-message">
      {{flash-message flash=flash}}
    </div>
  {{/each}}
</div>
