<div class="header">
  <h1 class="brand highlight">
    Meow Meow Beenz
  </h1>
</div>
<div class="main">
  <div class="main-left">
    <div class="scrollable-pane">
      <div class="scrollable-content">
        <ul class="user-list list-group">
          {{#each model as |user|}}
            <li class="user-list-item rainbow list-group-item">
              <div class="avatar">
                {{beenz-gravatar url=user.gravatar_url}}
              </div>
              <div class="info">
                <div class="name">{{user.name}}</div>
                <div class="beenz">{{beenz-kitties beenz=user.beenz}}</div>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="main-right">
    <div class="scrollable-pane">
      <div class="scrollable-content">
        <div class="container-fluid">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flash-container">
  {{#each flashMessages.queue as |flash|}}
    <div class="flash-message">
      {{flash-message flash=flash}}
    </div>
  {{/each}}
</div>
