<div class="text-center">
  {{#if model}}
    <h2 class="highlight">You Have Beenz!</h2>
    {{beenz-gravatar url=model.gravatar_url size=80}}
    <h3 class="highlight">{{model.name}}</h3>
    {{beenz-kitties beenz=model.beenz size=60}}
  {{else}}
    <h2 class="highlight">These will change Everything!</h2>
    <p>{{beenz-kitties beenz=5 size=60 isMulticolor=true}}</p>
    <br/>
    {{link-to "Log In" "login" class="btn btn-primary"}}
    {{link-to "Sign Up" "signup" class="btn btn-primary"}}
  {{/if}}
</div>
